
@import 'sass/variables/_variables.scss';


@font-face {
    font-family: 'Cairo_SemiBold';
    src: url('../fonts/Cairo-SemiBold.woff2') format('woff2'),
        url('../fonts/Cairo-SemiBold.woff') format('woff'),
        url('../fonts/Cairo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo_Regular';
    src: url('../fonts/Cairo-Regular.woff2') format('woff2'),
        url('../fonts/Cairo-Regular.woff') format('woff'),
        url('../fonts/Cairo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo_Bold';
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),
        url('../fonts/Cairo-Bold.woff') format('woff'),
        url('../fonts/Cairo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ogv2m8');
    src:  url('../fonts/icomoon.eot?ogv2m8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ogv2m8') format('truetype'),
      url('../fonts/icomoon.woff?ogv2m8') format('woff'),
      url('../fonts/icomoon.svg?ogv2m8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
.ais {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-1:before {
    content: "\e900";
}
.icon-2:before {
    content: "\e901";
}
.icon-3:before {
    content: "\e902";
}
.icon-4:before {
    content: "\e903";
}
.icon-5:before {
    content: "\e904";
}
.icon-6:before {
    content: "\e905";
}
.icon-7:before {
    content: "\e906";
}
.icon-8:before {
    content: "\e907";
}
.icon-5402933:before {
    content: "\e90c";
}
.icon-8150671 .path1:before {
    content: "\e90d";
}
.icon-8150671 .path2:before {
    content: "\e90e";
}
.icon-8150671 .path3:before {
    content: "\e90f";
}
.icon-8150671 .path4:before {
    content: "\e910";
}
.icon-8150671 .path5:before {
    content: "\e911";
}
.icon-8150671 .path6:before {
    content: "\e912";
}
.icon-8150671 .path7:before {
    content: "\e913";
}
.icon-8150671 .path8:before {
    content: "\e914";
}
.icon-8150671 .path9:before {
    content: "\e915";
}
.icon-8150671 .path10:before {
    content: "\e916";
}
.icon-8150671 .path11:before {
    content: "\e917";
}
.icon-8150671 .path12:before {
    content: "\e918";
}
.icon-Icon-ionic-ios-arrow-down:before {
    content: "\e91e";
}
.icon-Icon-ionic-ios-arrow-round-forward:before {
    content: "\e91f";
}
.icon-play:before {
    content: "\e920";
}
.icon-play2:before {
    content: "\e921";
}
  
// color: rgb(53, 70, 78);
html {
    font-size: 100%;
    @media(max-width: 576px){
        font-size: 80%;
    }
} 
body{
    font-family: $Regular;
}
body.rtl{
    direction: rtl;
}
.body-site{
    min-height: calc(100vh - 549px);
}
a, a:hover{
    color: $mainColor;
    text-decoration: none;
    transition: .3s;
    font-family: $SemiBold;
}
button{
    border: 0;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}
.stander-p{padding: 45px 0;}
.bg-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mainColor{color: $mainColor !important;}
.secondColor{color: $secondColor !important;}
.mainbgColor{background-color: $mainColor !important;}
.black{color: #000 !important}

.size-16{font-size: 16px !important;}
.size-12{font-size: 12px !important;}
.size-14{font-size: 14px !important;}
.size-18{font-size: 18px !important;}
.mute-text{color: #8C98A9;}

.bold{font-family: $Bold;}

/* Scrollbar styles */
.scroll{overflow: auto;}
.scroll::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
.scroll::-webkit-scrollbar-track{border-radius: 50px;}
.scroll::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 50px;
}
.scroll::-webkit-scrollbar-thumb:hover {background: #999;}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {-moz-appearance: textfield;}
.btn-common{
    background-color: $mainColor;
    color: #FFF;
    height: 50px;
    width: 182px;
    padding: 0 15px;
    font-size: $bodyLarge;
    font-family: $Bold;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 5px;
    opacity: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &:hover{
        opacity: .9;
        color: #FFF;
        font-family: $Bold;
    }
}
.btn-common-border{
    border: 1px solid $mainColor;
    background-color: #FFF;
    color: $mainColor;
    &:hover{
        background-color: $mainColor;
        color: #FFF;
    }
}
.btn-gray{
    background-color: #F0F3F4;
    color: $mainColor;
    &:hover{
        background-color: #cfcfcf;
        color: $mainColor;
    }
}
.bg-gray{background-color: #F6F8F9;}
.invalid-feedback {
    color: #F35162;
}
.valid-feedback {
    color: #00875A;
}
@media (min-width: 1400px){
    .navbar-expand-xxl .navbar-collapse {
        display: none !important;
        flex-basis: auto;
    }
    .navbar-expand-xxl .navbar-toggler{
        display: inline-block;
    }
}
.banner-sec{
    padding: 45px 0;
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, #012B9A77 0%, #012B9A81 100%);
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .content{
        text-align: center;
        color: #FFF;
        position: relative;
        z-index: 3;
        .title{
            font-size: 24px;
            font-family: $Bold;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        .desc{
            font-size: $bodyLarge;
            font-family: $SemiBold;
            margin-bottom: 0;
        }
    }
}
.defaul-sec{
    .content{
        img{
            max-width: 100%;
            height: auto;
            max-height: 400px;
            margin: 0 20px 20px 0;
            float: left;
            border-radius: 8px;
        }
        p{
            color: #393939;
            font-family: $SemiBold;
        }
    }
}
[dir=rtl] .defaul-sec .content img{
    margin: 0 0 20px 20px;
    float: right;
}
.description_about p{
    color: #393939;
    font-family: $SemiBold;
}
@import 'sass/pages/_header.scss';

@import 'sass/pages/_home.scss';
@import 'sass/pages/_contact.scss';
@import 'sass/pages/_auth.scss';
@import 'sass/pages/_forms.scss';

@import 'sass/pages/_footer.scss';

// @import 'sass/pages/_sidebar.scss';
// @import 'sass/pages/_dashboard.scss';
// @import 'sass/pages/_profile.scss';
// @import 'sass/pages/_table.scss';
// @import 'sass/pages/_certificate.scss';
// @import 'sass/pages/_training.scss';
// @import 'sass/pages/_back.scss';


