@charset "UTF-8";
@font-face {
  font-family: "Cairo_SemiBold";
  src: url("../fonts/Cairo-SemiBold.woff2") format("woff2"), url("../fonts/Cairo-SemiBold.woff") format("woff"), url("../fonts/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo_Regular";
  src: url("../fonts/Cairo-Regular.woff2") format("woff2"), url("../fonts/Cairo-Regular.woff") format("woff"), url("../fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo_Bold";
  src: url("../fonts/Cairo-Bold.woff2") format("woff2"), url("../fonts/Cairo-Bold.woff") format("woff"), url("../fonts/Cairo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ogv2m8");
  src: url("../fonts/icomoon.eot?ogv2m8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ogv2m8") format("truetype"), url("../fonts/icomoon.woff?ogv2m8") format("woff"), url("../fonts/icomoon.svg?ogv2m8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ais {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "";
}

.icon-2:before {
  content: "";
}

.icon-3:before {
  content: "";
}

.icon-4:before {
  content: "";
}

.icon-5:before {
  content: "";
}

.icon-6:before {
  content: "";
}

.icon-7:before {
  content: "";
}

.icon-8:before {
  content: "";
}

.icon-5402933:before {
  content: "";
}

.icon-8150671 .path1:before {
  content: "";
}

.icon-8150671 .path2:before {
  content: "";
}

.icon-8150671 .path3:before {
  content: "";
}

.icon-8150671 .path4:before {
  content: "";
}

.icon-8150671 .path5:before {
  content: "";
}

.icon-8150671 .path6:before {
  content: "";
}

.icon-8150671 .path7:before {
  content: "";
}

.icon-8150671 .path8:before {
  content: "";
}

.icon-8150671 .path9:before {
  content: "";
}

.icon-8150671 .path10:before {
  content: "";
}

.icon-8150671 .path11:before {
  content: "";
}

.icon-8150671 .path12:before {
  content: "";
}

.icon-Icon-ionic-ios-arrow-down:before {
  content: "";
}

.icon-Icon-ionic-ios-arrow-round-forward:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-play2:before {
  content: "";
}

html {
  font-size: 100%;
}
@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: "Cairo_Regular";
}

body.rtl {
  direction: rtl;
}

.body-site {
  min-height: calc(100vh - 549px);
}

a, a:hover {
  color: #012B9A;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Cairo_SemiBold";
}

button {
  border: 0;
  background-color: transparent;
  outline: none !important;
  box-shadow: none !important;
}

.stander-p {
  padding: 45px 0;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainColor {
  color: #012B9A !important;
}

.secondColor {
  color: #848E9F !important;
}

.mainbgColor {
  background-color: #012B9A !important;
}

.black {
  color: #000 !important;
}

.size-16 {
  font-size: 16px !important;
}

.size-12 {
  font-size: 12px !important;
}

.size-14 {
  font-size: 14px !important;
}

.size-18 {
  font-size: 18px !important;
}

.mute-text {
  color: #8C98A9;
}

.bold {
  font-family: "Cairo_Bold";
}

/* Scrollbar styles */
.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 50px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-common {
  background-color: #012B9A;
  color: #FFF;
  height: 50px;
  width: 182px;
  padding: 0 15px;
  font-size: 16px;
  font-family: "Cairo_Bold";
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.btn-common:hover {
  opacity: 0.9;
  color: #FFF;
  font-family: "Cairo_Bold";
}

.btn-common-border {
  border: 1px solid #012B9A;
  background-color: #FFF;
  color: #012B9A;
}
.btn-common-border:hover {
  background-color: #012B9A;
  color: #FFF;
}

.btn-gray {
  background-color: #F0F3F4;
  color: #012B9A;
}
.btn-gray:hover {
  background-color: #cfcfcf;
  color: #012B9A;
}

.bg-gray {
  background-color: #F6F8F9;
}

.invalid-feedback {
  color: #F35162;
}

.valid-feedback {
  color: #00875A;
}

@media (min-width: 1400px) {
  .navbar-expand-xxl .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }

  .navbar-expand-xxl .navbar-toggler {
    display: inline-block;
  }
}
.banner-sec {
  padding: 45px 0;
  background: url(../img/banner.png) no-repeat;
  background-size: cover;
  position: relative;
}
.banner-sec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(270deg, #012B9A77 0%, #012B9A81 100%);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.banner-sec .content {
  text-align: center;
  color: #FFF;
  position: relative;
  z-index: 3;
}
.banner-sec .content .title {
  font-size: 24px;
  font-family: "Cairo_Bold";
  margin-bottom: 0;
  text-transform: uppercase;
}
.banner-sec .content .desc {
  font-size: 16px;
  font-family: "Cairo_SemiBold";
  margin-bottom: 0;
}

.defaul-sec .content img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  margin: 0 20px 20px 0;
  float: left;
  border-radius: 8px;
}
.defaul-sec .content p {
  color: #393939;
  font-family: "Cairo_SemiBold";
}

[dir=rtl] .defaul-sec .content img {
  margin: 0 0 20px 20px;
  float: right;
}

.description_about p {
  color: #393939;
  font-family: "Cairo_SemiBold";
}

.header-sec .up-nav {
  background-color: #012B9A;
  padding: 8px 0;
}
.header-sec .up-nav .info {
  font-size: 12px;
  font-family: "Cairo_SemiBold";
  color: #FFF;
}
.header-sec .navbar-light {
  background-color: #FFF;
  box-shadow: 0px 3px 8px #0000000B;
}
.header-sec .navbar-light .navbar-brand {
  padding: 0;
  margin-bottom: -20px;
  position: relative;
  z-index: 6;
}
.header-sec .navbar-light .navbar-toggler {
  background-color: #012B9A;
  transition: 0.3s;
  padding: 5px 8px 20px;
  border: 0;
}
.header-sec .navbar-light .navbar-toggler img {
  transition: 0.3s;
}
.header-sec .navbar-light .navbar-toggler:not(.collapsed) img {
  filter: brightness(0) invert(1);
}
.header-sec .navbar-light .navbar-toggler.collapsed {
  background-color: transparent;
}
.header-sec .navbar-light .navbar-toggler:hover {
  background-color: #012B9A;
}
.header-sec .navbar-light .navbar-toggler:hover img {
  filter: brightness(0) invert(1);
}
.header-sec .navbar-light .navbar-collapse {
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  background-color: #FFF;
  border-bottom: 4px solid #012B9A;
  z-index: 5;
  opacity: 1;
}
.header-sec .navbar-light .collapse:not(.show) {
  display: block;
  z-index: -1;
  opacity: 0;
}

.one-col {
  padding-bottom: 30px;
}
.one-col .title_t {
  font-size: 18px;
  font-family: "Cairo_Bold";
  color: #012B9A;
}
.one-col .title_t::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #012B9A;
  border-radius: 50%;
  margin-right: 8px;
}
.one-col .links-list {
  list-style: none;
  padding: 10px 0 0;
}
.one-col .links-list li {
  margin-bottom: 10px;
}
.one-col .links-list li a {
  color: #012B9A;
  font-size: 14px;
}
.one-col .links-list li a::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 1px;
  background-color: #012B9A;
  margin-right: 8px;
}

.social-common {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.social-common li:not(:last-of-type) {
  margin-right: 8px;
}
.social-common li .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

[dir=rtl] .social-common li:not(:last-of-type) {
  margin-right: 0;
  margin-left: 8px;
}

[dir=rtl] .one-col .title_t::before,
[dir=rtl] .one-col .links-list li a::before {
  margin-right: 0;
  margin-left: 8px;
}

.welcom-sec .one-item {
  position: relative;
  padding: 115px 0 200px;
}
.welcom-sec .one-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Rectangle.png) no-repeat;
  background-size: cover;
  z-index: 1;
}
.welcom-sec .one-item .content {
  max-width: 460px;
  position: relative;
  z-index: 2;
  color: #FFF;
}
.welcom-sec .one-item .content .subtitle {
  font-size: 24px;
  font-family: "Cairo_Bold";
}
.welcom-sec .one-item .content .title {
  font-size: 32px;
  font-family: "Cairo_Bold";
  line-height: 45px;
  margin-bottom: 20px;
}
.welcom-sec .one-item .content .desc {
  font-size: 22px;
  font-family: "Cairo_SemiBold";
  margin-bottom: 25px;
}
.one-news {
  max-width: 363px;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #FFF;
}
.one-news .have-img-or {
  height: 219px;
  display: block;
  overflow: hidden;
}
.one-news .have-img-or img {
  transition: 0.3s;
  object-fit: cover;
  transform: none;
  height: 100%;
}
.one-news .have-content {
  padding: 25px 30px;
}
.one-news .have-content .time {
  margin-bottom: 10px;
  color: #012B9A;
  font-size: 16px;
  display: block;
}
.one-news .have-content .heading {
  margin-bottom: 8px;
  color: #000;
  font-size: 18px;
  line-height: 29px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .one-news .have-content .heading {
    height: 58px;
  }
}
.one-news .have-content .desc {
  color: #848E9F;
  font-family: "Cairo_SemiBold";
}
.one-news .have-content .more {
  display: inline-flex;
  align-items: center;
  color: #012B9A;
  margin-top: 10px;
}
.one-news .have-content .more i {
  margin: 0 10px -3px;
}
.one-news:hover .have-img-or img {
  transform: scale(1.1) rotate(3deg);
}

.sec-head {
  margin-bottom: 35px;
}
.sec-head .tags {
  display: inline-block;
  color: #012B9A;
  font-size: 16px;
  font-family: "Cairo_SemiBold";
  margin-bottom: 10px;
}
.sec-head .common-title {
  font-size: 28px;
  font-family: "Cairo_Bold";
}
.sec-head .common-title .spec {
  color: #012B9A;
  font-family: "Cairo_Regular";
  padding: 0 5px;
}

.nav-pills li:not(:last-of-type) {
  margin-right: 22px;
}
.nav-pills li .nav-link {
  font-size: 18px;
  color: #000;
  border-radius: 0;
  padding: 0;
  border-bottom: 2px solid transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
  color: #012B9A;
  border-bottom: 2px solid #012B9A;
  font-family: "Cairo_Bold";
}

.hold-member {
  max-width: 265px;
  width: 100%;
  height: 350px;
  margin: auto auto 30px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.hold-member .hover-box {
  background-color: rgba(1, 43, 154, 0.9);
  border-radius: 8px;
  color: #FFF;
  width: 100%;
  transition: 0.6s;
  opacity: 0;
}
.hold-member .hover-box .content {
  padding: 15px 0;
  max-width: 155px;
  margin: auto;
  text-align: center;
}
.hold-member .hover-box .name {
  font-family: "Cairo_Bold";
  font-size: 18px;
  margin-bottom: 0;
}
.hold-member .hover-box .job {
  font-size: 14px;
}
.hold-member .hover-box .social-member {
  position: relative;
  justify-content: center;
  padding-top: 30px;
}
.hold-member .hover-box .social-member::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  margin-top: 10px;
}
.hold-member:hover .hover-box {
  opacity: 1;
}

.content-after {
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}
.content-after .name {
  font-family: "Cairo_Bold";
  font-size: 18px;
  margin-bottom: 0;
}
.content-after .job {
  font-size: 14px;
}

@media (max-width: 768px) {
  .staff-sec .tab-content {
    margin-top: 30px;
  }

  .staff-sec .nav-pills {
    justify-content: center;
  }
}
.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  transition: 0.3s;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #012B9A;
  width: 30px;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #012B9A;
}

.form-check .form-check-input:checked {
  background-color: #012B9A;
  border-color: #012B9A;
}

.hold-vote .hold-form {
  background-color: #FFF;
  padding: 35px 35px 25px;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .hold-vote .hold-form {
    padding: 35px 25px 25px;
  }
}
.hold-vote .hold-form .head {
  font-size: 16px;
  font-family: "Cairo_Bold";
  line-height: 26px;
  margin-bottom: 30px;
}
.hold-vote .hold-form .form-check {
  margin-bottom: 20px;
}
.hold-vote .hold-form .form-check .form-check-input {
  margin-top: 6px;
}
.hold-vote .hold-form .form-check .form-check-label {
  font-size: 14px;
  font-family: "Cairo_SemiBold";
  line-height: 26px;
}
.hold-vote .hold-form .btn-submit {
  font-size: 18px;
}

.one-event {
  display: flex;
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .one-event {
    display: block;
  }
}
.one-event .hold-img {
  width: 137px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .one-event .hold-img {
    margin: auto auto 10px;
  }
}
.one-event .hold-img img {
  object-fit: cover;
  height: 100%;
}
.one-event .media-body {
  flex-grow: 1;
}
.one-event .media-body .title {
  color: #000;
  font-size: 16px;
  font-family: "Cairo_Bold";
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .one-event .media-body .title {
    margin: auto auto 5px;
  }
}
.one-event .media-body .title a {
  color: #000;
}
.one-event .media-body .time {
  font-size: 16px;
  font-family: "Cairo_SemiBold";
}
.one-event .media-body .desc {
  margin-top: 15px;
}
@media (min-width: 992px) {
  .one-event .media-body .desc {
    height: 63px;
    overflow: hidden;
  }
}
.one-event .media-body .desc p {
  font-size: 14px;
  font-family: "Cairo_SemiBold";
  color: #848E9F;
  margin-bottom: 0;
}

.reges-sec {
  margin-top: -45px;
  position: relative;
  z-index: 2;
}
.reges-sec .reges-content .subtitle {
  font-size: 22px;
  font-family: "Cairo_SemiBold";
  color: #012B9A;
}
.reges-sec .reges-content .title {
  font-size: 28px;
  font-family: "Cairo_Bold";
  color: #000;
  margin-bottom: 20px;
  line-height: 35px;
}
.reges-sec .reges-content .muted {
  font-size: 16px;
  font-family: "Cairo_SemiBold";
  color: #848E9F;
}
.reges-sec .reges-content .head {
  font-size: 16px;
  font-family: "Cairo_Bold";
  color: #000;
}
.reges-sec .reges-content .desc {
  font-size: 14px;
  font-family: "Cairo_SemiBold";
  color: #848E9F;
}

.all-levels {
  display: flex;
  align-items: flex-end;
  margin: -60px 0 70px;
  min-height: 325px;
}
@media (max-width: 992px) {
  .all-levels {
    display: block;
    margin: 45px auto 40px;
  }
}
.all-levels .one-levele {
  background: #FFFFFF;
  box-shadow: 0px 3px 15px #00000008;
  max-width: 380px;
  width: 100%;
  padding: 20px 20px;
  transition: 0.4s;
}
@media (max-width: 992px) {
  .all-levels .one-levele {
    display: block;
    margin: 0px auto 20px;
  }
}
.all-levels .one-levele.active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.all-levels .one-levele .oldage {
  color: #012B9A;
  font-size: 20px;
  font-family: "Cairo_Bold";
}
.all-levels .one-levele .oldage sup {
  font-size: 12px;
  font-family: "Cairo_SemiBold";
}
.all-levels .one-levele .hold-icon {
  max-width: 77px;
  margin: 0 auto 15px;
  overflow: hidden;
  color: #012B9A;
  transition: 0.4s;
}
.all-levels .one-levele .hold-icon img {
  filter: none;
  transition: 0.4s;
}
.all-levels .one-levele .hold-icon i {
  font-size: 70px;
}
.all-levels .one-levele .content {
  max-width: 270px;
  margin: auto;
  text-align: center;
}
.all-levels .one-levele .content .title {
  color: #012B9A;
  font-size: 20px;
  font-family: "Cairo_Bold";
}
.all-levels .one-levele .content .muted {
  font-size: 14px;
  font-family: "Cairo_SemiBold";
  color: #848E9F;
}
@media (min-width: 768px) {
  .all-levels .one-levele .content .info {
    height: 42px;
    overflow: hidden;
  }
}
.all-levels .one-levele .content .hold-link {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  margin-top: 15px;
}
.all-levels .one-levele .content .hold-link a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.all-levels .one-levele:hover, .all-levels .one-levele.active {
  background-color: #012B9A;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.all-levels .one-levele:hover .oldage,
.all-levels .one-levele:hover .muted,
.all-levels .one-levele:hover .title, .all-levels .one-levele.active .oldage,
.all-levels .one-levele.active .muted,
.all-levels .one-levele.active .title {
  color: #FFF;
}
.all-levels .one-levele:hover .hold-icon, .all-levels .one-levele.active .hold-icon {
  color: #FFF;
}
.all-levels .one-levele:hover .hold-icon img, .all-levels .one-levele.active .hold-icon img {
  filter: brightness(0) invert(1);
}
.all-levels .one-levele:hover .hold-link, .all-levels .one-levele.active .hold-link {
  height: 25px;
}
.all-levels .one-levele:hover .hold-link a, .all-levels .one-levele.active .hold-link a {
  color: #FFF;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  padding: 0 15px;
  position: absolute;
  bottom: 20%;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-item {
  border-radius: 12px;
  overflow: hidden;
  max-height: 371px;
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  .single-item.big-item {
    height: 315px;
  }
}
@media (max-width: 992px) {
  .single-item.big-item {
    height: 230px;
    max-width: 350px;
    margin: auto;
  }
}
.single-item .hold-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.single-item .hold-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.single-item .hold-img .icon-in {
  display: inline-flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  color: #FFF;
  border-radius: 50%;
}
.single-item .hold-img .icon-in i {
  font-size: 80px;
}
.single-item .hold-img .icon-in:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #012B9A;
}

.four-item .hold-img .icon-in i {
  font-size: 50px !important;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  cursor: pointer !important;
  display: inline-block !important;
  width: auto;
}

@media (max-width: 576px) {
  .photo_g .single-item .hold-img {
    height: 185px;
  }
}

.contact-sec .content {
  position: relative;
}
.contact-sec .content::after {
  content: "";
  display: none;
  width: 2px;
  height: 100%;
  background: linear-gradient(1800deg, white 0%, rgba(132, 142, 159, 0.5) 35%, white 100%);
  position: absolute;
  right: -60px;
  top: 0;
  z-index: 2;
}
@media (min-width: 1200px) {
  .contact-sec .content::after {
    display: inline-block;
  }
}
.contact-sec .content .head {
  position: relative;
  margin-bottom: 25px;
  font-family: "Cairo_Bold";
  font-size: 20px;
}
.contact-sec .content .head::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 100%;
  background-color: #012B9A;
  border-radius: 10px;
  position: absolute;
  left: -10px;
}
.contact-sec .content .desc {
  font-family: "Cairo_SemiBold";
  font-size: 16px;
  line-height: 30px;
}
.contact-sec .buttons-buttom .btn-sub {
  border-radius: 30px;
}
.contact-sec .hold-map {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}
.contact-sec .hold-map .map {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}
.contact-sec .data-info {
  margin-bottom: 18px;
}
.contact-sec .data-info .hold-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #012B9A;
}
.contact-sec .data-info .small-data {
  font-size: 10px;
  display: block;
  margin-bottom: -3px;
}
.contact-sec .data-info .big-data {
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Cairo_SemiBold";
}

.invalid-border {
  border: 1px solid #F35162 !important;
}

.valid-border {
  border: 1px solid #00875A !important;
}

.green-color {
  color: #00875A;
}

.red-color {
  color: #F35162;
}

.green-bg {
  background-color: #00875A;
}

.red-bg {
  background-color: #F35162;
}

.hold-form label {
  font-size: 14px;
  color: #03103A;
  margin-bottom: 10px;
}
.hold-form .form-control {
  min-height: 40px;
  color: #012B9A;
  font-size: 14px;
}
.hold-form .form-control::placeholder {
  color: #8D9CBE;
  font-size: 14px;
}
.hold-form .form-group {
  margin-bottom: 20px;
}
.hold-form .input-group:focus-within .form-control,
.hold-form .input-group:focus-within .input-group-text {
  color: #012B9A !important;
}
.hold-form .form-control,
.hold-form .input-group-text {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  height: 100%;
}
.hold-form .input-group {
  background-color: #F9FAFF;
  border: 1px solid #E0E7FF;
  border-radius: 5px;
  min-height: 40px;
}
.hold-form .eye {
  cursor: pointer;
}
.hold-form .eye i {
  color: #8D9CBE;
}
.hold-form .form-check-input {
  cursor: pointer;
  box-shadow: none !important;
}
.hold-form .form-check-label {
  font-size: 12px;
}
.hold-form .btn-submit {
  text-transform: uppercase;
}
.hold-form .counts {
  position: absolute;
  bottom: -5px;
  right: 10px;
  color: #8D9CBE;
  font-size: 12px;
}

[dir=rtl] [type=email]::placeholder,
[dir=rtl] [type=number]::placeholder,
[dir=rtl] [type=tel]::placeholder,
[dir=rtl] [type=url]::placeholder {
  text-align: right !important;
}

.active .input-group-text {
  color: #012B9A;
}

.input-group-prepend .input-group-text {
  padding-right: 0;
  color: #8D9CBE;
}

[dir=rtl] .input-group-prepend .input-group-text {
  padding-left: 0;
  padding-right: 0.75rem;
}

textarea {
  resize: none;
  padding-top: 15px !important;
}

.hold-form .counts {
  right: unset;
  left: 10px;
}

.hold-form .custom-select {
  color: #8D9CBE;
}

.hold-form .custom-select option:checked {
  color: #012B9A;
}

.step-menu .step-steps {
  margin: 50px 0;
}
.step-menu .step-steps li {
  position: relative;
  text-align: center;
}
.step-menu .step-steps li .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  margin: 0 auto 15px;
  border-radius: 50%;
  border: 1px solid #D0D8EC;
  background-color: transparent;
  transition: 0.3s;
}
.step-menu .step-steps li .icon::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 62px;
  height: 62px;
  border: 2px solid #012B9A;
  opacity: 0;
  border-radius: 50%;
  transition: 0.3s;
  z-index: -1;
}
.step-menu .step-steps li .icon i {
  font-size: 27px;
}
.step-menu .step-steps li .nav-link {
  color: #D0D8EC;
  font-size: 12px;
  font-family: "Cairo_SemiBold";
  transition: 0.3s;
}
.step-menu .step-steps li.active .icon {
  background-color: #012B9A;
  color: #FFF;
}
.step-menu .step-steps li.active .icon::before {
  opacity: 1;
}
.step-menu .step-steps li.active .nav-link {
  color: #012B9A;
}
.step-menu .step-steps li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: #D0D8EC;
  right: -50px;
  top: 30px;
}
@media (max-width: 1200px) {
  .step-menu .step-steps li:not(:last-of-type)::after {
    display: none;
  }
}
.step-menu .nav-pills .nav-item.done::after,
.step-menu .nav-pills .nav-item + .nav-item.done:not(:last-of-type)::after {
  background-color: #012B9A !important;
}

.step-menu .step-steps li.done .icon i::before {
  content: "";
  display: block;
  background: url(../img/Icon-feather-check-circle.png) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.step-menu .step-steps li.done .icon {
  background-color: #012B9A;
  color: #FFF;
}
.step-menu .step-steps li.done .icon::before {
  opacity: 1;
}
.step-menu .step-steps li.done .nav-link {
  color: #012B9A;
}

.reg-page .step-content {
  border: 1px solid #D0D8EC;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.reg-page .step-content::after {
  content: "";
  display: block;
  height: 100%;
  width: 360px;
  background: url(../img/side.png) center no-repeat;
  background-size: cover;
}

.footer-sec {
  box-shadow: 0px 3px 8px #00000008;
}
.footer-sec .hold-cont {
  padding-top: 45px;
  padding-bottom: 45px;
}
.footer-sec .hold-cont .info {
  margin: 20px 0;
}
.footer-sec .hold-cont .info h4,
.footer-sec .hold-cont .info h5,
.footer-sec .hold-cont .info h6 {
  font-size: 14px;
  font-family: "Cairo_Bold";
}
.footer-sec .hold-cont .info p {
  font-size: 12px;
  font-family: "Cairo_SemiBold";
}
.footer-sec .one-col-f .title_t {
  font-size: 14px;
  color: #000;
  margin-bottom: 15px;
}
.footer-sec .one-col-f .title_t::before {
  width: 5px;
  height: 5px;
}
.footer-sec .one-col-f .addres .tex {
  margin-bottom: 10px;
  color: #000;
  font-size: 12px;
}
.footer-sec .one-col-f .addres .tex i {
  color: #012B9A;
}
.footer-sec .subscribe-form {
  background-color: #FFF;
  box-shadow: 0px 3px 6px #0000000A;
  border-radius: 40px;
  padding: 6px;
  overflow: hidden;
}
.footer-sec .subscribe-form .form-control {
  border: 0 !important;
  box-shadow: none;
}
.footer-sec .subscribe-form .form-control::placeholder {
  font-size: 14px;
  color: #5C5C5C;
}
.footer-sec .subscribe-form .submit-btn {
  background-color: #012B9A;
  color: #FFF;
  font-size: 12px;
  border-radius: 40px;
  width: 100px;
  height: 100%;
  text-align: center;
}
.footer-sec .copyright {
  background-color: #012B9A;
  padding: 15px 0;
}
.footer-sec .copyright .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
}
@media (max-width: 768px) {
  .footer-sec .copyright .content {
    flex-direction: column;
  }
}
.footer-sec .copyright .content p {
  font-size: 14px;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .footer-sec .copyright .content p {
    text-align: center;
  }
}
.footer-sec .copyright .content p a {
  color: #FFF;
}

.social-common.social-footer {
  justify-content: flex-start;
}
.social-common.social-footer li:not(:last-of-type) {
  margin-right: 12px;
}
.social-common.social-footer li .social-link {
  font-size: 20px;
  color: #03103A;
  background-color: #FFF;
  border: 0;
  width: 45px;
  height: 45px;
}
.social-common.social-footer li .social-link:hover {
  color: #FFF;
  background-color: #012B9A;
}

[dir=rtl] .social-common.social-footer li:not(:last-of-type) {
  margin-left: 12px;
  margin-right: 0;
}

/*# sourceMappingURL=main-style.css.map */
