@import '../variables/_variables.scss';


.invalid-border{border: 1px solid #F35162 !important;}
.valid-border{border: 1px solid #00875A !important;}
.green-color{color: #00875A;}
.red-color{color: #F35162;}
.green-bg{background-color: #00875A;}
.red-bg{background-color: #F35162;}

.hold-form{
    label{
        font-size: $bodyMedium;
        color: #03103A;
        margin-bottom: 10px;
    }
    .form-control{
        min-height: 40px;
        color: $mainColor;
        font-size: $bodyMedium;
    }
    .form-control::placeholder{
        color: #8D9CBE;
        font-size: $bodyMedium;
    }
    .form-group{margin-bottom: 20px;}
    .input-group:focus-within .form-control,
    .input-group:focus-within .input-group-text{
        color: $mainColor !important;
    }
    .form-control,
    .input-group-text{
        border: 0;
        background-color: transparent;
        box-shadow: none;
        height: 100%;
    }
    .input-group{
        background-color: #F9FAFF;
        border: 1px solid #E0E7FF;
        border-radius: 5px;
        min-height: 40px;
    }
    .eye {
        cursor: pointer;
        i{
            color: #8D9CBE;
        }
    }
    .form-check-input{
        cursor: pointer;
        box-shadow: none !important;
    }
    .form-check-label{
        font-size: $bodySmall;
    }
    .btn-submit{text-transform: uppercase;}
    .counts{
        position: absolute;
        bottom: -5px;
        right: 10px;
        color: #8D9CBE;
        font-size: $bodySmall;
    }
}


// .form-check .form-check-input:checked{
//     background-color: $mainColor;
//     border-color: $mainColor;
// }
[dir=rtl] [type=email]::placeholder,
[dir=rtl] [type=number]::placeholder,
[dir=rtl] [type=tel]::placeholder,
[dir=rtl] [type=url]::placeholder{
    text-align: right !important;
}
.active .input-group-text{color: $mainColor;}
.input-group-prepend .input-group-text{
    padding-right: 0;
    color: #8D9CBE;
}
[dir=rtl] .input-group-prepend .input-group-text{
    padding-left: 0;
    padding-right: .75rem;
}
textarea{
    resize: none;
    padding-top: 15px !important;
}
.hold-form .counts{
    right: unset;
    left: 10px;
}
.hold-form .custom-select{
    color: #8D9CBE ;
}
.hold-form .custom-select option:checked{
    color: $mainColor ;
}