@import '../variables/_variables.scss';

.contact-sec{
    .content{
        position: relative;
        &::after{
            content: '';
            display: none;
            width: 2px;
            height: 100%;
            background: linear-gradient(1800deg, rgba(255,255,255,1) 0%, rgba(132,142,159,.5) 35%, rgba(255,255,255,1) 100%);
            position: absolute;
            right: -60px;
            top: 0;
            z-index: 2;
            @media (min-width: 1200px) {
                display: inline-block;;
            }
        }
        .head{
            position: relative;
            margin-bottom: 25px;
            font-family: $Bold;
            font-size: $hedingMedium;
            &::before{
                content: '';
                display: inline-block;
                width: 3px;
                height: 100%;
                background-color: $mainColor;
                border-radius: 10px;
                position: absolute;
                left: -10px;
            }
        }
        .desc{
            font-family: $SemiBold;
            font-size: $bodyLarge;
            line-height: 30px;
        }
    }
    .buttons-buttom{
        .btn-sub{
            border-radius: 30px;
        }
    }
    .hold-map{
        width: 100%;
        height: 300px;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 30px;
        .map{
            width: 100%;
            height: 300px;
            border-radius: 15px;
        }
    }
    .data-info{
        margin-bottom: 18px;
        .hold-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $mainColor;
        }
        .small-data{
            font-size: 10px;
            display: block;
            margin-bottom: -3px;
        }
        .big-data{
            margin-bottom: 0;
            font-size: $bodyMedium;
            font-family: $SemiBold;
        }
    }
}