
@import '../variables/_variables.scss';

.footer-sec{
    box-shadow: 0px 3px 8px #00000008;
    .hold-cont{
        padding-top: 45px;
        padding-bottom: 45px;
        .info{
            margin: 20px 0;
            h4,
            h5,
            h6{
                font-size: $bodyMedium;
                font-family: $Bold;
            }
            p{
                font-size: $bodySmall;
                font-family: $SemiBold;
            }
        }
    }
    .one-col-f{
        .title_t{
            font-size: $bodyMedium;
            color: #000;
            margin-bottom: 15px;
            &::before{
                width: 5px;
                height: 5px;
            }
        }
        .addres{
            .tex{
                margin-bottom: 10px;
                color: #000;
                font-size: $bodySmall;
                i{
                    color: $mainColor;
                }
            }
        }
    }
    .subscribe-form{
        background-color: #FFF;
        box-shadow: 0px 3px 6px #0000000A;
        border-radius: 40px;
        padding: 6px;
        overflow: hidden;
        .form-control{
            border: 0 !important;
            box-shadow: none;
            &::placeholder{
                font-size: $bodyMedium;
                color: #5C5C5C;
            }
        }
        .submit-btn{
            background-color: $mainColor;
            color: #FFF;
            font-size: $bodySmall;
            border-radius: 40px;
            width: 100px;
            height: 100%;
            text-align: center;
        }
    }
    .copyright{
        background-color: $mainColor;
        padding: 15px 0;
        .content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #FFF;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            p{
                font-size: $bodyMedium;
                margin-bottom: 0px;
                @media (max-width: 768px) {
                    text-align: center;
                }
                a{
                    color: #FFF;
                }
            }
        }
    }
}
.social-common.social-footer{
    justify-content: flex-start;
    li {
        &:not(:last-of-type){
            margin-right: 12px;
        }
        .social-link {
            font-size: 20px;
            color: #03103A;
            background-color: #FFF;
            border: 0;
            width: 45px;
            height: 45px;
            &:hover{
                color: #FFF;
                background-color: $mainColor;
            }
        }
    }
}
[dir=rtl] .social-common.social-footer li:not(:last-of-type) {
    margin-left: 12px;
    margin-right: 0;
}