@import '../variables/_variables.scss';

.step-menu{
    .step-steps{
        margin: 50px 0;
        li{
            position: relative;
            text-align: center;
            .icon{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 54px;
                height: 54px;
                margin: 0 auto 15px;
                border-radius: 50%;
                border: 1px solid #D0D8EC;
                background-color: transparent;
                transition: .3s;
                &::before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    width: 62px;
                    height: 62px;
                    border: 2px solid $mainColor;
                    opacity: 0;
                    border-radius: 50%;
                    transition: .3s;
                    z-index: -1;
                }
                i{
                    font-size: 27px;
                }
            }
            .nav-link{
                color: #D0D8EC;
                font-size: $bodySmall;
                font-family: $SemiBold;
                transition: .3s;
            }
            &.active{
                .icon{
                    background-color: $mainColor;
                    color: #FFF;
                    &::before{
                        opacity: 1;
                    }
                }
                .nav-link{
                    color: $mainColor;
                }
            }
            &:not(:last-of-type){
                &::after{
                    content: '';
                    position: absolute;
                    width: 75px;
                    height: 2px;
                    background-color: #D0D8EC;
                    right: -50px;
                    top: 30px;
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
                .icon{
                    // &::after{
                    //     content: '';
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 1.5px;
                    //     background-color: #D0D8EC;
                    //     right: 0;
                    // }
                }
            }
        }
    }
}

.step-menu .nav-pills .nav-item.done::after,
.step-menu .nav-pills .nav-item + .nav-item.done:not(:last-of-type)::after {
    background-color: $mainColor !important;
}

.step-menu .step-steps li.done .icon i::before{
    content: '';
    display: block;
    background: url(../img/Icon-feather-check-circle.png) no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.step-menu .step-steps li.done{
    .icon{
        background-color: $mainColor;
        color: #FFF;
        &::before{
            opacity: 1;
        }
    }
    .nav-link{
        color: $mainColor;
    }
}

.reg-page {
    .step-content{
        border: 1px solid #D0D8EC;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        &::after{
            content: '';
            display: block;
            height: 100%;
            width: 360px;
            background: url(../img/side.png) center no-repeat;
            background-size: cover;
        }
    }
}