@import '../variables/_variables.scss';

// .body-site{
//     display: flex;
//     border-right: 7px solid $mainColor;
//     @media (max-width: 768px) {
//         display: block;
//         border-right: 0;
//         border-top: 0;
//     }
// }
// [dir=rtl] .body-site{
//     border-right: 0px solid $mainColor;
//     border-left: 7px solid $mainColor;
//     @media (max-width: 768px) {
//         border-left: 0;
//     }
// }
.header-sec{
    .up-nav{
        background-color: $mainColor;
        padding: 8px 0;
        .info{
            font-size: $bodySmall;
            font-family: $SemiBold;
            color: #FFF;
            i,img{}
        }
    }
    .navbar-light{
        background-color: #FFF;
        box-shadow: 0px 3px 8px #0000000B;
        .navbar-brand{
            padding: 0;
            margin-bottom: -20px;
            position: relative;
            z-index: 6;
        }
        .navbar-toggler {
            background-color: $mainColor;
            transition: .3s;
            padding: 5px 8px 20px;
            border: 0;
            img{
                transition: .3s;
                // filter: brightness(0) invert(1);
            }
            &:not(.collapsed){
                img{
                    filter: brightness(0) invert(1);
                }
            }
            &.collapsed{
                background-color: transparent;
            }
            &:hover{
                background-color: $mainColor;
                img{
                    filter: brightness(0) invert(1);
                }
            }
        }
        .navbar-collapse {
            position: absolute;
            top: 101%;
            left: 0;
            width: 100%;
            background-color: #FFF;
            border-bottom: 4px solid $mainColor;
            z-index: 5;
            opacity: 1;
            // min-height: 460px;
        }
        .collapse:not(.show){
            display: block;
            z-index: -1;
            opacity: 0;
        }
    }
}
.one-col{
    padding-bottom: 30px;
    .title_t{
        font-size: $hedingSmall;
        font-family: $Bold;
        color: $mainColor;
        &::before{
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: $mainColor;
            border-radius: 50%;
            margin-right: 8px;
        }
    }
    .links-list{
        list-style: none;
        padding: 10px 0 0;
        li{
            margin-bottom: 10px;
            a{
                color: $mainColor;
                font-size: $bodyMedium;
                &::before{
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 1px;
                    background-color: $mainColor;
                    margin-right: 8px;
                }
            }
        }
    }
}
.social-common{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    li{
        &:not(:last-of-type){
            margin-right: 8px;
        }
        .social-link{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            color: #FFF;
            border: 1px solid #FFF;
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }
    }
}
[dir=rtl] .social-common li:not(:last-of-type) {
    margin-right: 0;
    margin-left: 8px;
}
[dir=rtl] .one-col .title_t::before,
[dir=rtl] .one-col .links-list li a::before{
    margin-right: 0;
    margin-left: 8px;
}
// .header-sec{
//     background-color: $mainColor;
//     padding: 12px 15px;
//     min-height: 100vh;
//     @media (max-width: 768px) {
//         min-height: auto;
//         height: auto;
//         width: 100%;
//         max-width: 100%;
//         display: none;
//     }
// }
// .navbar .navbar-brand{margin-right: 0;}
// .navbar-light .navbar-toggler {
//     border: 0;
//     color: var(--mainColor);
//     font-size: 1.5625rem;
// }
// .header-sec .navbar{
//     flex-direction: column;
//     align-items: flex-start;
//     height: 100%;
//     padding: 0;
// }
// .header-sec .navbar .navbar-collapse{
//     margin-top: auto;
//     align-items: flex-end;
// }
// .header-sec .navbar .navbar-nav{
//     flex-direction: column;
//     align-items: center;
// }
// .header-sec .navbar .navbar-nav .nav-link{
//     padding: 0;
//     margin-top: 5px;
//     font-size: 1.875rem;
//     color: var(--mainColor);
//     transition: .3s;
//     font-weight: bold;
// }
// .copyright{
//     margin-top: auto;
//     align-items: flex-end;
//     color: #FFF;
//     p{
//         font-size: 14px;
//         font-family: $SemiBold;
//         margin-bottom: 0;
//     }
//     @media (max-width: 768px) {
//         display: none;
//     }
// }
// .main-content-sec{
//     width: 100%;
//     flex-basis: 0;
//     flex-grow: 1;
//     width: calc(100% - 75px);
//     max-width: 100%;
//     flex: 1;
//     padding: 20px 0;
//     display: flex;
//     align-items: center;
//     background-color: #F7F8FA;
//     @media (max-width: 768px) {
//         padding: 20px 0;
//         min-height: calc(100vh - 7px);
//         width: 100%;
//     }
// }
// .have-slider .main-content-sec{
//     width: calc(100% - 230px);
//     @media (max-width: 768px) {
//         width: 100%;
//     }
// }
// .navbar-nav .dropdown-main{
//     background-color: #1f4290;
//     padding: 12px 0;
//     padding-left: 20px;
// }
// [dir=rtl] .navbar-nav .dropdown-main{
//     padding-right: 20px;
//     padding-left: 0;
// }

// .navbar-nav .dropdown-main .dropdown-item{
//     background-color: transparent !important;
//     color: #FFF;
//     margin-bottom: 10px;
//     font-size: $bodySmall;
//     i,
//     img{
//         margin: 0 8px;
//     }
//     &:hover,
//     &.active{
//         color: $secondColor;
//     }
// }

// .defult-template .header-sec .navbar ul .nav-item.dropdown .nav-link{margin-bottom: 0;}
// .defult-template .header-sec.active .navbar ul .nav-item.dropdown .nav-link .text{
//     opacity: 0 !important;
//     width: 0 !important;
//     display: none;
// }
// .navbar-nav .dropdown-main{
//     margin-top: 0;
//     border: 0;
// }
// .active .navbar-nav .dropdown-main{
//     min-width: 180px;
//     left: 100%;
//     top: 0;
//     position: absolute;
//     border-bottom-left-radius: 0;
//     border-top-left-radius: 0;
//     border-bottom-right-radius: 10px;
//     border-top-right-radius: 10px;
//     padding: 12px 0;
// }
// [dir=rtl] .active .navbar-nav .dropdown-main{
//     left: unset;
//     right: 100%;
//     border-bottom-right-radius: 0;
//     border-top-right-radius: 0;
//     border-bottom-left-radius: 10px;
//     border-top-left-radius: 10px;
// }
