@import '../variables/_variables.scss';

.welcom-sec{
    .one-item{
        position: relative;
        padding: 115px 0 200px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/Rectangle.png) no-repeat;
            background-size: cover;
            z-index: 1;
        }
        .content{
            max-width: 460px;
            position: relative;
            z-index: 2;
            color: #FFF;
            .subtitle{
                font-size: 24px;
                font-family: $Bold;
            }
            .title{
                font-size: 32px;
                font-family: $Bold;
                line-height: 45px;
                margin-bottom: 20px;
            }
            .desc{
                font-size: $hedingLarge;
                font-family: $SemiBold;
                margin-bottom: 25px;
            }
            .hold-btn{}
        }
    }
}

.one-news{
    max-width: 363px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFF;
    .have-img-or{
        height: 219px;
        display: block;
        overflow: hidden;
        img{
            transition: .3s;
            object-fit: cover;
            transform: none;
            height: 100%;
        }
    }
    .have-content{
        padding: 25px 30px;
        .time{
            margin-bottom: 10px;
            color: $mainColor;
            font-size: $bodyLarge;
            display: block;
        }
        .heading{
            margin-bottom: 8px;
            color: #000;
            font-size: $hedingSmall;
            line-height: 29px;
            overflow: hidden;
            @media (min-width: 768px) {
                height: 58px;
            }
        }
        .desc{
            color: #848E9F;
            font-family: $SemiBold;
        }
        .more{
            display: inline-flex;
            align-items: center;
            color: $mainColor;
            margin-top: 10px;
            i{margin: 0 10px -3px;}
        }
    }
    &:hover{
        .have-img-or{
            img{
                transform: scale(1.1) rotate(3deg);
            }
        }
    }
}
.sec-head {
    margin-bottom: 35px;
    .tags{
        display: inline-block;
        color: $mainColor;
        font-size: $bodyLarge;
        font-family: $SemiBold;
        margin-bottom: 10px;
    }
    .common-title{
        font-size: 28px;
        font-family: $Bold;
        .spec{
            color: $mainColor;
            font-family: $Regular;
            padding: 0 5px;
        }
    }
}
.nav-pills {
    li{
        &:not(:last-of-type){margin-right: 22px;}
        .nav-link{
            font-size: $hedingSmall;
            color: #000;
            border-radius: 0;
            padding: 0;
            border-bottom: 2px solid transparent;
        }
    }
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: transparent;
    color: $mainColor;
    border-bottom: 2px solid $mainColor;
    font-family: $Bold;
}
.hold-member{
    max-width: 265px;
    width: 100%;
    height: 350px;
    margin: auto auto 30px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    .hover-box{
        background-color: rgba(1 43 154 / 90%);
        border-radius: 8px;
        color: #FFF;
        width: 100%;
        transition: .6s;
        opacity: 0;
        .content{
            padding: 15px 0;
            max-width: 155px;
            margin: auto;
            text-align: center;
        }
        .name{
            font-family: $Bold;
            font-size: $hedingSmall;
            margin-bottom: 0;
        }
        .job{
            font-size: $bodyMedium;
        }
        .social-member{
            position: relative;
            justify-content: center;
            padding-top: 30px;
            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 2px;
                background-color: #FFF;
                margin-top: 10px;
            }
        }
    }
    &:hover{
        .hover-box{
            opacity: 1;
        }
    }
}
.content-after{
    text-align: center;
    color: #000;
    margin-bottom: 40px;
    .name{
        font-family: $Bold;
        font-size: $hedingSmall;
        margin-bottom: 0;
    }
    .job{
        font-size: $bodyMedium;
    }
}
@media (max-width: 768px) {
    .staff-sec .tab-content{
        margin-top: 30px;
    }
    .staff-sec .nav-pills{
        justify-content: center;
    }
}
.owl-theme .owl-dots .owl-dot span{
    margin: 5px 3px;
    transition: .3s;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: $mainColor;
    width: 30px;
}
.owl-theme .owl-dots .owl-dot:hover span{background: $mainColor;}
.form-check .form-check-input:checked {
    background-color: $mainColor;
    border-color: $mainColor;
}

.hold-vote{
    .hold-form{
        background-color: #FFF;
        padding: 35px 35px 25px;
        border-radius: 8px;
        @media (max-width: 992px) {
            padding: 35px 25px 25px;
        }
        .head{
            font-size: $bodyLarge;
            font-family: $Bold;
            line-height: 26px;
            margin-bottom: 30px;
        }
        .form-check{
            margin-bottom: 20px;
            .form-check-input{
                margin-top: 6px;
            }
            .form-check-label{
                font-size: $bodyMedium;
                font-family: $SemiBold;
                line-height: 26px;
            }
        }
        .btn-submit{
            font-size: $hedingSmall;
        }
    }
}
.one-event{
    display: flex;
    background-color: #FFF;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    @media (max-width: 576px) {
        display: block;
    }
    .hold-img{
        width: 137px;
        height: 100px;
        flex-shrink: 0;
        border-radius: 5px;
        overflow: hidden;
        @media (max-width: 576px) {
            margin: auto auto 10px;
        }
        img{
            object-fit: cover;
            height: 100%;
        }
    }
    .media-body{
        flex-grow: 1;
        .title{
            color: #000;
            font-size: $bodyLarge;
            font-family: $Bold;
            margin-bottom: 0;
            @media (max-width: 576px) {
                margin: auto auto 5px;
            }
            a{color: #000;}
        }
        .time{
            font-size: $bodyLarge;
            font-family: $SemiBold;
        }
        .desc{
            margin-top: 15px;
            @media (min-width: 992px) {
                height: 63px;
                overflow: hidden;
            }
            p{
                font-size: $bodyMedium;
                font-family: $SemiBold;
                color: #848E9F;
                margin-bottom: 0;
            }
        }
    }
}

.reges-sec{
    margin-top: -45px;
    position: relative;
    z-index: 2;
    .reges-content{
        .subtitle{
            font-size: $hedingLarge;
            font-family: $SemiBold;
            color:$mainColor;
        }
        .title{
            font-size: 28px;
            font-family: $Bold;
            color:#000;
            margin-bottom: 20px;
            line-height: 35px;
        }
        .muted{
            font-size: $bodyLarge;
            font-family: $SemiBold;
            color:#848E9F;
        }
        .head{
            font-size: $bodyLarge;
            font-family: $Bold;
            color:#000;
        }
        .desc{
            font-size: $bodyMedium;
            font-family: $SemiBold;
            color:#848E9F;
        }
    }
}
.all-levels{
    display: flex;
    align-items: flex-end;
    margin: -60px 0 70px;
    min-height: 325px;
    @media (max-width :992px) {
        display: block;
        margin: 45px auto 40px;
    }
    .one-levele{
        background: #FFFFFF;
        box-shadow: 0px 3px 15px #00000008;
        max-width: 380px;
        width: 100%;
        padding: 20px 20px;
        transition: .4s;
        @media (max-width :992px) {
            display: block;
            margin: 0px auto 20px;
        }
        &.active{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .oldage{
            color: $mainColor;
            font-size: $hedingMedium;
            font-family: $Bold;
            sup{
                font-size: $bodySmall;
                font-family: $SemiBold;
            }
        }
        .hold-icon{
            max-width: 77px;
            margin: 0 auto 15px;
            overflow: hidden;
            color: $mainColor;
            transition: .4s;
            img{
                filter: none;
                transition: .4s;
            }
            i{
                font-size: 70px;
            }
        }
        .content{
            max-width: 270px;
            margin: auto;
            text-align: center;
            .title{
                color: $mainColor;
                font-size: $hedingMedium;
                font-family: $Bold;
            }
            .muted{
                font-size: $bodyMedium;
                font-family: $SemiBold;
                color:#848E9F;
            }
            .info{
                @media (min-width: 768px) {
                    height: 42px;
                    overflow: hidden;
                }
            }
            .hold-link{
                text-align: center;
                height: 0;
                overflow: hidden;
                transition: .4s;
                margin-top: 15px;
                a{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                }
            }
        }
        &:hover,
        &.active{
            background-color: $mainColor;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            .oldage,
            .muted,
            .title{
                color: #FFF;
            }
            .hold-icon{
                color: #FFF;
                img{
                    filter: brightness(0) invert(1);
                }
            }
            .hold-link{
                height: 25px;
                a{color: #FFF;}
            }
        }
    }
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
    padding: 0 15px;
    position: absolute;
    bottom: 20%;
    max-width: 1140px;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    text-align: left;
    left: 50%;
    transform: translate(-50%, -50%);
}

.single-item{
    border-radius: 12px;
    overflow: hidden;
    max-height: 371px;
    height: 100%;
    width: 100%;
    @media (max-width: 768px) {
        // height: 185px;
    }
    &.big-item{
        @media (max-width: 1200px) {
            height: 315px;
        }
        @media (max-width: 992px) {
            height: 230px;
            max-width: 350px;
            margin: auto;
        }
        
    }
    .hold-img{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        .icon-in{
            display: inline-flex;
            position: absolute;
            background-color: rgba(255, 255, 255, 40%);
            color: #FFF;
            border-radius: 50%;
            // width: 80px;
            // height: 80px;
            i{
                font-size: 80px;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 90%);
                color: $mainColor;
            }
        }
    }
}
.four-item .hold-img .icon-in i{
    font-size: 50px !important;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close{
    cursor: pointer !important;
    display: inline-block !important;
    width: auto;
}

.photo_g{
    .single-item{
        .hold-img{
            
            @media (max-width: 576px) {
                height: 185px;
            }
        }
    }
}