@import '../variables/_variables.scss';

.heading-buttom{
    font-size: 16px;
    font-family: $Bold;
    padding: 0px 35px 20px;
    border-bottom: 1px solid #F7F8FA;
    border-color: #EDF0F2;
    .nav-pills .nav-link {
        border-bottom: 3px solid transparent;
        border-radius: 0;
        background-color: transparent;
        padding: 5px 5px 15px;
        margin-right: 20px;
        color: $mainColor;
        &:hover{
            border-color: $mainColor;
        }
        &.active{
            border-color: $mainColor;
            background-color: transparent ;
            font-family: $Bold;
        }
    }
}
.inline-hold-form{
    padding: 30px 35px;
    @media (max-width: 768px) {
        padding: 20px 15px;
    }
    .hold-form{
        // max-width: 660px;
        .col-form-label{
            font-size: 14px;
        }
    }
}
.modal-header{border-bottom: 1px solid #F7F8FA; border-color: #EDF0F2;}
.buttons-buttom{
    border-top: 1px solid #F7F8FA;
    border-color: #EDF0F2;
    padding: 15px 35px 0;
    display: flex;
    align-items: center;
    .btn-common{
        width: auto;
        min-width: 100px;
        border: 1px solid transparent;
        &:not(:last-of-type){
            margin-right: 0.9375rem;
        }
    }
    .btn-common-border{
        border: 1px solid $mainColor;
        background-color: #FFF !important;
        color: $mainColor !important;
    }
}
.user-info{
    .custom-file{
        max-width: 128px;
        margin: auto auto 20px;
        display: block;
        height: 128px;
        .custom-file-input{
            opacity: 0;
            max-width: 128px;
        }
        .custom-file-label{
            height: 128px;
            padding: 0;
            border-radius: 50%;
            margin: auto;
            border: 0;
            background-color: $secondColor;
            overflow: unset;
            .hold-img{
                position: relative;
                width: 128px;
                height: 128px;
                // overflow: hidden;
                margin: auto;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 5px rgba(0, 0, 0, .4);
                &::after{
                    // font-family: "Font Awesome 5 Free";
                    // font-weight: 800;
                    // content: "\f044";
                    content: '';
                    background: url(../img/icons/Edit-Square.png) center no-repeat;
                    background-color: $mainColor;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #FFF;
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    bottom: -2px;
                    top: unset;
                    left: 10px;
                    right: unset;
                    font-size: 12px;
                    cursor: pointer;
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                .hold-check{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 10px;
                    left: 10px;
                    color: Green;
                    border: 2px solid #FFF;
                    z-index: 5;
                    background-color: #FFF;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 1px;
                    &::before{
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        content: "\f058";
                    }
                }
                .check-active{
                    
                }
            }
            &::after{display: none;}
        }
    }
    .user-body{
        text-align: center;
        padding-top: 20px;
        .name{
            font-size: $bodyLarge;
            font-family: $Bold;
            color: $mainColor;
            display: block;
        }
        .role{
            display: block;
            font-size: $bodyMedium;
            font-family: $Regular;
            color: #54556C;
        }
        .status{
            display: inline-block;
            margin: 15px auto;
            color: #FFF;
            font-size: 12px;
            font-family: $Bold;
            border-radius: 30px;
            padding: 5px 20px;
            min-width: 66px;
            background-color: #2EC114;
        }
    }
}
.list-sub-menu{
    margin-top: 29px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            .link{
                position: relative;
                background-color: #F6F7FA;
                margin-bottom: 12px;
                color: #B4BED5;
                font-size: $bodyLarge;
                border-radius: 10px;
                // overflow: hidden;
                display: block;
                width: 100%;
                text-align: center;
                padding: 12px 12px;
                &::before{
                    content: '';
                    display: inline-block;
                    background-color: transparent;
                    width: 10px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -2px;
                    transition: .3s;
                    border-radius: 10px;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    z-index: 3;
                }
                &:hover,
                &.active{
                    background-color: $mainColor;
                    color: #FFF;
                    &::before{
                        background-color: $secondColor;
                    }
                }
            }
        }
    }
}
select{cursor: pointer;}
.custom-switch .custom-control-label::before {
    height: 25px;
    width: 45px;
    border-radius: 30px;
    background-color: #F9FAFF;
}
.custom-switch .custom-control-label::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: unset;
    right: 12px !important;
}
.custom-switch .custom-control-input:checked~.custom-control-label::before{
    background-color: #36B37E !important;
    border-color: #36B37E !important;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after{
    right: 6px !important;
    background-color: #F9FAFF !important;
}
.hold-accordion{
    .card{
        border-color: #EDF0F2;
        margin-bottom: 15px;
        .card-header{
            background-color: #FAFBFB;
            padding: 12px 15px;
            border-color: #EDF0F2;
            .btn{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                font-size: 14px;
                font-family: $Bold;
                i, img{
                    transform: rotate(90deg);
                    transition: 0.2s;
                }
                &.collapsed{
                    i, img{
                        transform: rotate(0deg);
                        transition: 0.2s;
                    }
                }
            }
        }
        .form-group {
            margin-bottom: 20px;
        }
    }
}
.title-photo{
    font-size: 14px;
    font-family: $Bold;
    margin-bottom: 18px;
    color: $mainColor;
}
.hold-drag{
    position: relative;
    margin-bottom: 15px;
    .custom-file{
        text-align: center;
        height: 160px;
        border: 1px dashed #CCC;
        border-radius: 5px;
        overflow: hidden;
        .big-text{
            font-size: 14px;
            font-family: $Bold;
            margin-bottom: 5px;
            margin-top: 12px;
        }
        .small-text{
            font-size: 12px;
            margin-bottom: 0px;
        }
        .select-f{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $mainColor;
            border-radius: 8px;
            font-size: 10px;
            padding: 5px 12px;
            margin-top: 20px;
            cursor: pointer;
        }
        .custom-file-input{height: 100%;}
        .custom-file-label{
            padding: 25px;
            height: 100%;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &::after{
                display: none ;
            }
        }
        .hold-img{
            // display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background-color: #FFF;
            &.selected{
                display: flex;
            }
            .box-body{
                display: flex;
                // display: none;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                background-color: #FFF;
                &.selected{
                    display: flex;
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
            .shorts-action{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-bottom: 0;
                padding: 0;
                list-style: none;
                background-color: rgb(0 51 72 / 80%);
                width: 100%;
                height: 100%;
                transition: .3s;
                opacity: 0;
                z-index: -1;
                li{
                    &:not(:last-of-type){margin-right: 8px;}
                    .icon{
                        background-color: #FFF;
                        border-radius: 5px;
                        color: $mainColor;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                    }
                }
            }
            &:hover{
                .shorts-action{
                    opacity: 1;
                    z-index: 3;
                }
            }
        }
    }
}
.normal-modal{
    .buttons-buttom .btn-common{
        height: 40px;
    }
}
.search-btn-cer{
    .input-group-text,
    .form-control::placeholder,
    .form-control{
        color: #FFF !important;
    }
}
.hold-filter{
    .form-control{
        min-width: 100px;
    }
}
.custom-select{
    background-image: url(../img/icons/down2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
[dir=rtl] .custom-select {
    background-position: 2% 50%;
}
[dir=rtl] .buttons-buttom .btn-common:not(:last-of-type) {
    margin-left: 0.9375rem;
    margin-right: 0;
}
[dir=rtl] .list-sub-menu ul li .link::before{
    left: unset;
    right: -2px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
[dir=rtl] .heading-buttom .nav-pills .nav-link{
    margin-right: 0;
    margin-left: 20px;
}
[dir=rtl] .hold-drag .custom-file .hold-img .shorts-action li:not(:last-of-type){
    margin-right: 0;
    margin-left: 8px;
}
[dir=rtl] .user-info .custom-file .custom-file-label .hold-img .hold-check{
    left: unset;
    right: 10px;
    padding: 0 1px 0 0;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}