@import '../variables/_variables.scss';

.defult-template{
    .body-site{
        border-right: 0;
        border-left: 0;
        @media (max-width: 768px){
            display: block;
        }
    }
    .header-sec{
        display: flex;
        flex-direction: column;
        padding: 12px 0;
        max-width: 230px;
        min-width: 230px;
        transition: .3s;
        .navbar-brand{
            padding: 0 5px;
            margin: 0;
            .logo-text{
                margin-left: 6px;
                width: auto;
                transition: .3s;
            }
        }
        .navbar{
            flex-wrap: nowrap;
            .navbar-collapse{
                width: 100%;
                margin-top: 1.875rem;
                @media (min-width: 768px) {
                    display: block;
                }
            }
            ul{
                .nav-item{
                    position: relative;
                    min-height: 54px;
                    .nav-link{
                        color: #FFF;
                        opacity: .4;
                        padding: 10px 25px;
                        border-left: 4px solid transparent;
                        font-family: $SemiBold;
                        font-size: $bodyMedium;
                        white-space: nowrap;
                        background-color: transparent;
                        margin-bottom: 10px;
                        z-index: 10;
                        .text{
                            margin-left: 8px;
                            margin-right: 20px;
                            width: auto;
                            // transition: .3s;
                        }
                        &:hover,
                        &.active{
                            opacity: 1;
                            border-color: $secondColor;
                            background-color: #1F4290;
                            color: $secondColor;
                        }
                    }
                    &.active .nav-link{
                        opacity: 1;
                        border-color: $secondColor;
                        background-color: #1F4290;
                        color: $secondColor;
                    }
                }
            }
        }
        &.active{
            max-width: 75px;
            min-width: 75px;
            .logo-text,
            .nav-link .text{
                width: 0 !important;
                opacity: 0;
            }
            .nav-link:hover{
                position: absolute;
                top: 0;
                left: 0;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                .text{
                    width: auto !important;
                    opacity: 1 !important;
                }
            }
        }
        @media (max-width: 778px){
            min-height: auto;
            height: auto;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }

    }
    .navbar-toggler{
        color: #FFF;
        display: none;
        @media (max-width: 768px){
            display: block;
            margin: 0 10px;
        }
    }
    .toggle-btn{
        margin: 1.875rem;
        display: flex;
        align-items: center;
        align-self: flex-end;
        transform: rotate(0deg);
        transition: .2s;
        &.active{
            transform: rotate(180deg);
            margin: 1.875rem 0;
            align-self: center;
        }
        @media (max-width: 768px){
            display: none;
        }
    }
    .main-content-sec{
        background-color: #F7F8FA;
        align-items: flex-start;
        padding: 0;
    }
}

[dir=rtl] .defult-template .toggle-btn{
    transform: rotate(180deg);
}
[dir=rtl] .defult-template .toggle-btn.active{
    transform: rotate(0deg);
}

[dir=rtl] .defult-template .header-sec .navbar ul .nav-item .nav-link .text{
    margin-left: 20px;
    margin-right: 8px;
}
[dir=rtl] .defult-template .header-sec .navbar ul .nav-item .nav-link{
    border-right: 4px solid transparent;
    border-left: 0px;
}
[dir=rtl] .defult-template .header-sec .navbar ul .nav-item.active .nav-link,
[dir=rtl] .defult-template .header-sec .navbar ul .nav-item:hover .nav-link {
    border-color: $secondColor;
}
[dir=rtl] .defult-template .header-sec.active .nav-link:hover{
    left: unset;
    right: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.input-group-text.dropdown{
    transition: .3s;
}
.input-group-text.dropdown .hold-filter-icon{
    background-color: transparent;
    border-radius: 5px;
    padding: 4px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: .3s;
}
.input-group-text.dropdown .hold-filter-icon:hover,
.input-group-text.dropdown.active .hold-filter-icon{
    background-color: $mainColor;
}
.common-table table .hold-actions .action-button:hover img,
.input-group-text.dropdown .hold-filter-icon:hover .filter-img{
    filter: brightness(0) invert(1);
}
.defult-template .header-sec .navbar ul .nav-item img{
    // filter: opacity(.5) drop-shadow(0 0 0 $secondColor);
}
.defult-template .header-sec .navbar ul .nav-item.active .nav-link img,
.defult-template .header-sec .navbar ul .nav-item .nav-link:hover img{
    // filter: invert(71%) sepia(83%) saturate(100%) hue-rotate(358deg) brightness(0) contrast(103%);
}