
@import '../variables/_variables.scss';


.owl-top-event .owl-item{
    // display: inline-flex;
	width: 70px !important;
}
.owl-top-event .day_e {
	// margin: 0 1px;
	padding: 10px 5px 12px;
    border-radius: 8px;
    width: 70px;
    border: 1px solid transparent;
}
.owl-top-event .day_e.border{
    border: 1px solid $mainColor;
}
.owl-top-event .day_e.border span:first-of-type{
	color: $mainColor !important;
}
/*.owl-top-event .day_e:hover,*/
.owl-top-event .day_e.active{
	background-color: $mainColor;
}
.owl-top-event .day_e.offday{
	background-color: #F8F8F8;
}
.owl-top-event .day_e.offday .contain-date span:last-of-type,
.owl-top-event .day_e.offday .contain-date span:first-of-type{
	color: #b2b2b2;
}
/*.owl-top-event .day_e:hover span:first-of-type,*/
.owl-top-event .day_e.active span:first-of-type{
	color: #FFF !important;
}
.owl-top-event .day_e .contain-date {
    text-align: center;
}
.owl-top-event .day_e .contain-date span:first-of-type{
	display: block;
	font-size: 22px;
	font-family: $SemiBold;
	color: #333;
}
.owl-top-event .event .contain-date span:first-of-type:after{
	display: inline-block;
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	background-color: #FFCF01;
	border-radius: 50%;
}
.owl-top-event .event.active .contain-date span:first-of-type:after{
	background-color: #FFCF01;
}
.owl-top-event .day_e .contain-date span:last-of-type{
	display: block;
	font-size: 14px;
	font-family: $SemiBold;
	color: #b2b2b2;
}

.drop-fit{
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
	border-radius: 0px 0px 8px 8px;
	min-width: 100%;
	top: -2px !important;
}
.drop-fit .dropdown-item{
	text-align: center;
	font-size: $bodySmall;
	color: $mainColor;
	padding: 8px 5px;
}
.train{
	display: flex;
	align-items: center;
	border: 0 !important;
}
.train .status{
	font-size: $bodyMedium;
	color: #00875A;
    background-color: rgb(0 135 90 / 20%);
    padding: 7px 20px;
    border-radius: 30px;
    margin-left: 20px;
}
[dir=rtl] .train .status{
	margin-left: 0;
	margin-right: 20px;
}
.train .status.stop{
	color: #D02737;
	background-color: rgb(208 39 55 / 20%);
}

.one-event{
	width: 315px;
	// overflow: hidden;
	height: 90px;
	transition: .3s;
	position: relative;
	margin-bottom: 20px;
	@media (max-width: 768px) {
		width: 100%;
		max-width: 100%;
		margin: 0 auto 20px;
	}
	&.not-active{
		.head{
			background-color: #D02737;
			.title{
				text-decoration: line-through;
			}
		}
	}
	.head{
		background-color: $mainColor;
		padding: 8px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		.title{
			font-size: $bodyMedium;
			color: #FFF;
			margin-bottom: 0;
		}
		.hold-icon{

		}
	}
	.body{
		padding: 15px 20px;
		max-height: 50px;
		transition: .3s;
		position: absolute;
		top: auto;
		left: 0;
		width: 100%;	
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: #F6F7FA;
		z-index: 3;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
		overflow: hidden;
		.info{
			font-size: $bodySmall;
			color: $mainColor;
			text-align: right;
		}
	}
	&:hover{
		// overflow: auto;
		.body{
			max-height: 120px;
			transition: .3s;
		}
	}
}

.table-of-events tbody tr th{
	background-color: transparent;
	vertical-align: top !important;
    width: 100px;
	color: #333 !important;
	font-family: $SemiBold;
}
.table-of-events table .one-row{transition: .3s;}
.table-of-events tbody .one-row .time-limit{
	height: 80px;
	display: block;
}

.table-of-events table .one-row td{
	vertical-align: top !important;
	transition: .3s;
}

.table-of-events .one-row{
	display: flex;
	align-items: flex-start;
	@media (max-width: 768px) {
		display: block;
	}
	.time-limit{
		margin-right: 40px;
		font-size: $bodyMedium;
		color: #333;
		font-family: $SemiBold;
		height: 80px;
		min-width: 60px;
		display: block;
		position: relative;
		top: -5px;
		@media (max-width: 768px) {
			position: static;
			text-align: center;
		}
	}
	.hold-events{
		display: flex;
		align-items: flex-start;
		max-width: 100%;
		flex-wrap: wrap;
		width: 100%;
		border-top: 1px dashed #E5E5E5;
		padding-top: 10px;
		.one-event:not(:last-of-type){
			margin-right: 20px;
			@media (max-width: 768px) {
				margin-right: 0 !important;
				margin-left: 0 !important;
			}
		}
	}
}
[dir=rtl] .table-of-events .one-row .hold-events .one-event:not(:last-of-type){
    margin-left: 20px;
	margin-right: 0;
}
[dir=rtl] .table-of-events .one-row .time-limit{
    margin-left: 40px;
	margin-right: 0;
}

.date_month,
.date_month:focus{
	font-size: 22px;
    border: 0 !important;
    width: 180px;
    text-align: center;
    padding: 0;
    position: relative;
    bottom: -3px;
}

.hold-years-months{
	position: relative;
	input{
		width: 250px !important;
		max-width: 100%;
		background-color: transparent;
		position: relative;
		z-index: 6;
		&:focus,
		&:active{
			outline: none !important;
			border: 0 !important;
		}
	}
	.btnn{
		// position: absolute;
		// top: 5px;
	}
	.flatpickr-prev{right: 0;}
	.flatpickr-next{left: 0;}
}
