
// Color 
$mainColor: #012B9A;
$secondColor: #848E9F;

// Font
$Regular: 'Cairo_Regular';
$Bold: 'Cairo_Bold';
$SemiBold: 'Cairo_SemiBold';

//  Size
$bodySmall: 12px;
$bodyMedium: 14px;
$bodyLarge: 16px;

$hedingSmall: 18px;
$hedingMedium: 20px;
$hedingLarge: 22px;
